body {
    min-height: 100vh;
    background-color: #e8ebef;
    background-image: url("../img/circles-and-roundabouts.png");
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.block-quote {
    text-align: center;
    position: fixed;
    width: 100%;
    top: 50%;
    left: 0;
    font-size: 25px;
    -ms-transform: translate(0, -50%); /* IE 9 */
    -webkit-transform: translate(0, -50%); /* Safari */
    transform: translate(0, -50%);
}

.block-quote > p.quote-text {
    font-size: 1.2em;
}

.block-quote > p.quote-author {
    color: #3a6ccb;
    cursor: pointer;
    font-style: italic;
    font-weight: bolder;
}