body {
    height: 100vh;
    overflow: hidden;
    background-color: #d0d0d0;
}

.padding-top-big {
    padding-top: 20%;
}

.padding-top-small {
    padding-top: 20px;
}

.iframe-content-1 {
    height: 70vh;
}

.custom-md-backlog {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.custom-md-backlog .md-blur {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.md-dialog {
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    width: calc(100% - 20px);
    max-width: 900px;
    height: calc(100vh - 20px);
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid grey;
}

@media (min-width: 768px) {
    .md-dialog {
        height: 80vh;
    }
}

.md-header {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    height: 50px;
    position: relative;
    z-index: 5;
}

.md-header h1 {
    font-size: 20px;
    margin: 5px 0 0;
}

.md-header span {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    padding: 5px 10px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 4px;
    cursor: pointer;
}

.md-body {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 60px 10px 10px;
}

.md-body .md-content {
    position: relative;
    height: 100%;
}